// Here you can add other styles
button{
    margin-right: 5px;
}

div {
    button:last-child{
        margin-right: 0px;
    }
}

.errorAddon{
    .invalid-feedback{
        display: block;
    }
}

.paciente{
    .card-actions{
        display: flex;
        padding: 0.70rem 1.25rem;
    }
    #activo-label{
        margin-right: 3px;
    }
}

td:focus{
    outline: none;
}

span.thTitle{
    display: inline-block;
    line-height: initial;
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontal-bars li.divider{
    height: 25px;
}

// select styles
.Select-control{
    border-radius: 0;
}

.Select.is-focused:not(.is-open) > .Select-control{
    border-color: #8ad4ee;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.Select--multi{
    &:focus{
        outline: none;
    }
    .Select-value{
        color: $dark;
    }
}

.input-group-fecha{
    width: 220px;
}

.breadcrumb {
    margin-bottom: 1rem;
}    