// Here you can add other styles
.app-header.navbar.testHeader, .app-header.navbar.testHeader .navbar-brand, .testFooter {
    background-color: aquamarine;
}

.card {
    border-radius: .25rem;
    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
}

.form-control, .input-group-text, .btn {
    border-radius: .25rem;
}

.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.progress {
    border-radius: 10rem;
}

.nav-tabs {  
    .nav-link {
        &:hover {
            cursor: pointer;
        }
    }
}

.linkCard {
    text-decoration: none;
    color: initial;
    &.successCard .card {
        border-color: theme-color("success");
    }
    &.dangerCard .card{
        border-color: theme-color("danger");
    }
    &:hover {
        text-decoration: none;
    }
}

button{
    margin-right: 5px;
}

div {
    button:last-child{
        margin-right: 0px;
    }
}

.errorAddon{
    .invalid-feedback{
        display: block;
    }
}

.paciente{
    .card-actions{
        display: flex;
        padding: 0.70rem 1.25rem;
    }
    #activo-label{
        margin-right: 3px;
        small{
            font-weight: bold
        }
    }
    .card{
        margin-bottom: 1rem;
    }
    .reset-sesiones{
        color: teal;
        font-weight: bolder;
    }
}

td:focus{
    outline: none;
}

span.thTitle{
    display: inline-block;
    line-height: initial;
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontal-bars li.divider{
    height: 25px;
}

// select styles
.Select-control{
    border-radius: .25rem;
}

.Select.is-focused:not(.is-open) > .Select-control{
    border-color: #8ad4ee;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.Select--multi{
    &:focus{
        outline: none;
    }
    .Select-value{
        color: $dark;
    }
}

.input-group-fecha{
    width: 220px;
}

.breadcrumb {
    margin-bottom: 1rem;
}    

.listaSesiones, .facturaciones {
    tr{
        cursor: pointer;
    }
    hr{
        margin: 0;
    }
    .filtros{
        .anio{
            width: 70px;
        }
        .mes{
            width: 100px;
        }
    }
}

.listaPacientes {
    .filtros {
        .filtroEstado {
            width: 80px;
        }
    }
}

.input-toggle{
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;

    .react-toggle--checked .react-toggle-track {
        background-color: $info;
    }

    .react-toggle-track {
        background-color: $warning;
    }

    .react-toggle--checked .react-toggle-thumb {        
        border-color: $info;
    }

}

.chart-wrapper{
    height: 300px;
    margin-top: 40px;
}

.spinner-container{
    padding-top: 2px;
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{
    box-shadow: none;
}

.number-filter-input{
    min-width: 60px;
}

// React Bootstrap Table customizations

.react-bootstrap-table>table>thead>tr>th .date-filter-comparator, .react-bootstrap-table>table>thead>tr>th .number-filter-comparator{
    max-width: 45px;
}

.react-bootstrap-table td>.selection-input-4, .react-bootstrap-table th>.selection-input-4 {
    margin: 0;
}

// botones de Grillas
.react-bootstrap-table {
    .fa-edit, .fa-cloud-download {
        color: $blue;
        &:hover {
            color: $teal;
            cursor: pointer;
        }
    }
    .fa-cloud-upload {
        color: $purple;
        &:hover {
            color: $yellow;
            cursor: pointer;
        }
    }
    .fa-times-circle {
        color: $red;
        &:hover {
            color: $pink;
            cursor: pointer;
        }
    }
}

#botonesPaciente {
    display: flex;
}

.btn-info {
    color: white;
}

// mobile
@include media-breakpoint-down(xs) {
    .mainCard {
        border-left: none;
        border-right: none;
        .card-body {
            padding: 1rem;
        }
    }
    .nav-tabs {  
        .nav-item:first-child {
            .active.nav-link {
                border-left: none;
            }
        }
    }
    .tab-content {
        border-left: none;
        border-right: none;
    }
    // .tablaPacientes {
    //     td, th {
    //         padding: 0.3rem;
    //     }
    // }
    #botonesPaciente {
        justify-content: space-between;
        flex-wrap: wrap;
        .btn {
            width: 100%;
        }
        button {
            margin-right: 0;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
