@each $color, $value in $theme-colors {
  .modal-#{$color} {

    .modal-content {
      border-color: $value;
      border-radius: .25rem;
    }

    .modal-header {
      color: #fff;
      background-color: $value;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }
  }
}
